@media print {
    @page {size: auto !important}
    .pagebreak {
        /*break-after: always !important;*/
        page-break-before: always!important;
        /*page-break-after: always !important;*/
        page-break-inside: avoid !important;
    }
}

#print_3ply{
    zoom:100% !important;
    font-family: 'Josefin Sans', sans-serif;
}
#non-printable {
    /*height: auto;*/
    /*padding: 0;*/
    /*background-color: #F4F4F6;*/
    /*margin: 0;*/
    /*display: block;*/
    /*min-height: 1px;*/
    /*display: flex;*/
    /*justify-content: space-between;*/

}

